@font-face {
    font-family: "roboto";
    src: url("./assets/fonts/roboto-v51-latin-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bgColor: #EFEDE7;
    --hp: 0;
    --attack: 0;
    --defense: 0;
    --special-attack: 0;
    --special-defense: 0;
    --speed: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto';
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: "roboto";
    padding: 4px 8px;

    background: rgba(255, 246, 197, 0.377);
    border-radius: 12px;
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1440px;
    padding: clamp(16px, calc(11.429px + 1.429vw), 32px);
    margin: auto;
    gap: 16px;

    section {
        display: flex;
        justify-content: center;
        order: 9999;
        width: 100%;
        max-width: 1440px;

        .btnLoadMore {

            cursor: pointer;

            font-size: 18px;
            padding: 4px 8px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 16px;
        }
    }
}

body:has(dialog[open]) {
    overflow: hidden;
}

.grass {
    background-color: rgba(52, 95, 39, 1);
}

.fire {
    background-color: rgba(136, 18, 18, 0.829);
}

.water {
    background-color: rgba(60, 139, 175, 0.808);
}

.bug {
    background-color: rgba(92, 128, 81, 1);
}

.normal {
    background-color: rgba(133, 133, 133, 1);
}

.poison {
    background-color: rgba(102, 64, 133, 0.76);
}

.electric {
    background-color: rgba(251, 253, 91, 1);
}

.ground {
    background-color: rgba(109, 83, 54, 1);
}

.fairy {
    background-color: rgb(212, 106, 186);
}

.fighting {
    background-color: rgba(247, 44, 34, 0.733);
}

.psychic {
    background-color: rgb(248, 88, 136);
}

.rock {
    background-color: rgb(184, 160, 56);
}

.ghost {
    background-color: rgb(176, 145, 226);
}

/* small creature card */
.creatureCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 300px;
    height: 300px;
    gap: 24px;
    padding: 8px;

    border-radius: 12px;

    header {
        display: flex;
        justify-content: space-between;
        position: absolute;

        width: 80%;
        top: 24px;
    }

    aside {
        position: absolute;
        bottom: 36px;

        span {
            font-size: 18px;
            padding: 4px 8px;
            ;

            background: rgba(255, 246, 197, 0.377);
            border-radius: 16px;
            box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.6px);
            -webkit-backdrop-filter: blur(2.6px);
            border: 2px solid rgb(0, 0, 0);
        }
    }

    .creatureCardImage {
        max-width: 150px;
        max-height: 150px;
    }
}

.creatureCard:hover {
    background-color: rgb(168, 126, 126);
}

.btnLoadMore:hover {
    background-color: rgb(168, 126, 126);
}

/* styling dialog */
dialog {
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 12px;

    padding: 6px;
    margin: auto;

    .detailCard {
        width: 500px;
        height: 580px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 8px;
        gap: 12px;
        border-radius: 12px;

        header {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 24px;

            width: 90%;

            button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;

                width: 30px;
                height: 30px;
                cursor: pointer;
                border: 1px solid transparent;
                background-color: rgba(255, 246, 197, 0.377);
                border-radius: 50%;

                img {
                    position: absolute;
                    top: 3;
                    left: 3;
                    transition: opacity 0.1s ease-in-out;
                }

                .btnDialogeClose {
                    width: 24px;
                    opacity: 1;
                    z-index: 2;
                }

                .btnDialogeCloseHover {
                    width: 24px;
                    opacity: 0;
                    z-index: 3;
                }

                .btnDialogeClose:hover {
                    opacity: 0;
                }

                .btnDialogeCloseHover:hover {
                    opacity: 1;
                }
            }

        }

        aside {
            position: absolute;
            top: 80px;

            span {
                font-size: 18px;
                padding: 4px 8px;
                background: rgba(255, 246, 197, 0.377);
                border-radius: 16px;
                box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.6px);
                border: 2px solid rgb(0, 0, 0);
            }

            .detailCardImage {
                width: 210px;
                height: 210px;
                max-width: 230px;
                max-height: 230px;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 330px;

            width: 90%;

            ul {
                display: flex;
                justify-content: space-around;
                padding: 0;
                gap: 100px;

                padding-bottom: 12px;

                li {
                    padding: 4px 8px;
                    list-style: none;
                    cursor: pointer;
                    border: 2px solid transparent;
                }

                li:hover {
                    background: rgba(255, 246, 197, 0.377);
                    border-radius: 16px;
                    box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2.6px);
                    -webkit-backdrop-filter: blur(2.6px);
                    border: 2px solid rgb(0, 0, 0);
                }
            }

            #detailInformation {
                display: flex;
                justify-content: center;

                table {
                    margin-bottom: 12px;
                }

                th {
                    text-align: left;
                    padding-right: 12px;
                }

                .evoChain {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;

                    .evoStepImage {
                        height: 40px;
                    }

                    figure {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                    }

                    .evoImage {
                        max-width: 80px;
                        max-height: 80px;
                    }
                }
            }
        }

        .switchCreature {
            display: flex;
            justify-content: space-between;
            position: absolute;

            width: 60%;
            bottom: 12px;
        }

    }
}

/*  */
.skillBar {
    background-color: rgba(224, 224, 224, 0.506);
    border-radius: 16px;
    width: 200px;
}

.skillLevel {
    /* background-color: #3498db; */
    width: 60px;
    height: 100%;
    border-radius: 8px;
    padding: 0 8px;

    background-color: rgba(255, 246, 197, 0.377);
    border-radius: 16px;
    backdrop-filter: blur(2.6px);
    border: 2px solid rgb(0, 0, 0);
}

.hp {
    width: calc((var(--hp) /255) *100%);
}

.attack {
    width: calc((var(--attack) /180) *100%);
}

.defense {
    width: calc((var(--defense) /230) *100%);
}

.special-attack {
    width: calc((var(--special-attack) /194) *100%);
}

.special-defense {
    width: calc((var(--special-defense) /230) *100%);
}

.speed {
    width: calc((var(--speed) /200) *100%);
}