@font-face {
    font-family: "roboto";
    src: url("./assets/fonts/roboto-v51-latin-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --bgColor: #EFEDE7;
    --hp: 0;
    --attack: 0;
    --defense: 0;
    --special-attack: 0;
    --special-defense: 0;
    --speed: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:has(dialog[open]) {
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: clamp(8px, calc(11.429px + 1.429vw), 32px);
    margin: auto;
    gap: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-family: "roboto";
    padding: 4px 8px;

    background: rgba(255, 246, 197, 0.377);
    border-radius: 12px;
    backdrop-filter: blur(2.6px);
}

.btn:hover {
    background-color: #f0f0f0;
    border: 2px solid black;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.hidden {
    visibility: hidden !important;
}

.head {
    background-color: rgba(105, 118, 131, 0.842);
    border-bottom: 2px solid black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    z-index: 1;



    search {
        background: rgba(126, 64, 62, 0.9);
        border-radius: 8px;
        padding: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        border: 1px solid rgba(176, 147, 121, 0.3);

        input {
            background-color: rgb(255, 228, 196);
            font-size: 14px;
            border-radius: 4px;
            width: 150px;
        }

        input:hover {
            background-color: #f0f0f0;
            border: 2px solid black;
            box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

section {
    display: flex;
    justify-content: center;
    margin: auto;
    position: sticky;
    bottom: 5px;
    width: 100%;
    height: 5vh;
    max-width: 1440px;
    padding: clamp(8px, calc(11.429px + 1.429vw), 32px);
    padding-top: 0;

    .btnLoadMore {
        cursor: pointer;

        width: 100%;
        max-width: 200px;
        margin-top: auto;
        text-align: center;

        font-size: 18px;
        background: rgba(187, 184, 184, 0.9);
        border-radius: 8px;
        padding: 4px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        border: 2px solid rgb(0, 0, 0);
        transition: transform 0.2s ease-in-out;
    }
}

footer {
    background-color: rgba(105, 118, 131, 0.842);
    border-bottom: 2px solid black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

    img {
        width: clamp(45px, calc(36.429px + 2.679vw), 75px);
        height: clamp(45px, calc(36.429px + 2.679vw), 75px);
    }

    .footerContent {
        justify-content: center !important;
    }
}

.contentArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 12px 24px;
    width: 100%;

    img {
        width: clamp(45px, calc(36.429px + 2.679vw), 75px);
        height: clamp(45px, calc(36.429px + 2.679vw), 75px);
    }
}

.grass {
    background-color: rgba(52, 95, 39, 1);
}

.fire {
    background-color: rgba(136, 18, 18, 0.829);
}

.water {
    background-color: rgba(60, 139, 175, 0.808);
}

.bug {
    background-color: rgba(92, 128, 81, 1);
}

.normal {
    background-color: rgba(133, 133, 133, 1);
}

.poison {
    background-color: rgba(102, 64, 133, 0.76);
}

.electric {
    background-color: rgba(251, 253, 91, 1);
}

.ground {
    background-color: rgba(109, 83, 54, 1);
}

.fairy {
    background-color: rgb(212, 106, 186);
}

.fighting {
    background-color: rgba(247, 44, 34, 0.733);
}

.psychic {
    background-color: rgb(248, 88, 136);
}

.rock {
    background-color: rgb(184, 160, 56);
}

.ghost {
    background-color: rgb(176, 145, 226);
}

.ice {
    background-color: rgba(175, 226, 243, 0.4);
}

.dragon {
    background-color: rgba(90, 8, 204, 0.85);
}

.dark {
    background-color: rgb(100, 99, 99);
}

.steel {
    background: rgba(184, 184, 208, 0.45);
}
/* small creature card */
.creatureCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 300px;
    height: 300px;
    gap: 24px;
    padding: 8px;

    transition: transform 0.2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 12px;

    header {
        display: flex;
        justify-content: space-between;
        position: absolute;

        width: 80%;
        top: 24px;
    }

    aside {
        position: absolute;
        bottom: 36px;

        span {
            font-size: 18px;
            padding: 4px 8px;
            ;

            background: rgba(255, 246, 197, 0.377);
            border-radius: 16px;
            box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.6px);
            -webkit-backdrop-filter: blur(2.6px);
            border: 2px solid rgb(0, 0, 0);
        }
    }

    .creatureCardImage {
        max-width: 150px;
        max-height: 150px;
    }
}

.creatureCard:hover {
    background-color: #f0f0f0;
    border: 2px solid black;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);

    object-fit: cover;
    transform: scale(1.05);
}

.btnLoadMore:hover {
    background-color: #f0f0f0;
    border: 2px solid black;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* styling dialog */
dialog {
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;

    padding: 6px;
    margin: auto;

    width: 500px;
    height: 580px;

    .detailCard {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 8px;
        gap: 12px;
        border-radius: 12px;
        border: 5px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

        header {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 24px;

            width: 90%;

            button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;

                width: 30px;
                height: 30px;
                cursor: pointer;
                border: 1px solid transparent;
                background-color: rgba(255, 246, 197, 0.377);
                border-radius: 50%;

                img {
                    position: absolute;
                    top: 3;
                    left: 3;
                    transition: opacity 0.1s ease-in-out;
                }

                .btnDialogeClose {
                    width: 24px;
                    opacity: 1;
                    z-index: 2;
                }

                .btnDialogeCloseHover {
                    width: 24px;
                    opacity: 0;
                    z-index: 3;
                }

                .btnDialogeClose:hover {
                    opacity: 0;
                }

                .btnDialogeCloseHover:hover {
                    opacity: 1;
                }
            }

        }

        aside {
            position: absolute;
            top: 70px;

            span {
                font-size: 18px;
                padding: 4px 8px;
                background: rgba(255, 246, 197, 0.377);
                border-radius: 16px;
                box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.6px);
                border: 2px solid rgb(0, 0, 0);
            }

            .detailCardImage {
                margin: 12px 0 12px 0;
                width: 230px;
                height: 230px;
                max-width: clamp(150px, calc(11.429px + 1.429vw), 230px);
                max-height: clamp(150px, calc(11.429px + 1.429vw), 230px);
            }
        }

        section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: absolute;
            top: 60px;

            width: 100;

            ul {
                display: flex;
                justify-content: space-around;
                padding: 0;
                gap: clamp(10px, 2vw + 5px, 100px);

                padding-bottom: 12px;

                li {
                    padding: 4px 8px;
                    list-style: none;
                    cursor: pointer;
                    border: 2px solid transparent;
                }

                li:hover {
                    background: rgba(255, 246, 197, 0.377);
                    border-radius: 16px;
                    box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2.6px);
                    -webkit-backdrop-filter: blur(2.6px);
                    border: 2px solid rgb(0, 0, 0);
                }
            }

            #detailInformation {
                display: flex;
                justify-content: center;

                table {
                    margin-bottom: 12px;
                }

                th {
                    text-align: left;
                    padding-right: 12px;
                }

                .evoChain {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 12px;

                    .evoStepImage {
                        height: 40px;
                    }

                    figure {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                    }

                    .evoImage {
                        max-width: 80px;
                        max-height: 80px;
                    }
                }
            }
        }

        .switchCreature {
            display: flex;
            justify-content: space-between;
            position: absolute;

            width: 60%;
            bottom: 12px;
        }

    }
}

/*  */
.skillBar {
    background-color: rgba(224, 224, 224, 0.506);
    border-radius: 16px;
    width: clamp(100px, 2vw + 5px, 200px);
}

.skillLevel {
    /* background-color: #3498db; */
    width: 60px;
    height: 100%;
    border-radius: 8px;
    padding: 0 8px;

    background-color: rgba(255, 246, 197, 0.377);
    border-radius: 16px;
    backdrop-filter: blur(2.6px);
    border: 2px solid rgb(0, 0, 0);
}

.hp {
    width: calc((var(--hp) /255) *100%);
}

.attack {
    width: calc((var(--attack) /180) *100%);
}

.defense {
    width: calc((var(--defense) /230) *100%);
}

.special-attack {
    width: calc((var(--special-attack) /194) *100%);
}

.special-defense {
    width: calc((var(--special-defense) /230) *100%);
}

.speed {
    width: calc((var(--speed) /200) *100%);
}

/* loading screen */
.loading {
    border: none;
    background: transparent;
    padding: 0;
    overflow: hidden;

    max-width: 200px;
    max-height: 200px;

    .loadingContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .loadingSpinner {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 8px solid rgba(105, 105, 105, 0.363);
            border-top: 8px solid #740a0a;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        .loadingText {
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            font-family: sans-serif;
        }
    }
}

.loading::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 470px) {
    dialog {
        height: 100dvh !important;
    };
}